<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mavenwebproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Serve</display-name>
    <servlet-name>Login_Serve</servlet-name>
    <servlet-class>Servlet.Login_Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Serve</servlet-name>
    <url-pattern>/Login_Serve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sign_Server</display-name>
    <servlet-name>sign_Server</servlet-name>
    <servlet-class>Servlet.sign_Server</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_Server</servlet-name>
    <url-pattern>/sign_Server</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mopwdServer</display-name>
    <servlet-name>mopwdServer</servlet-name>
    <servlet-class>Servlet.mopwdServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mopwdServer</servlet-name>
    <url-pattern>/mopwdServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addbillServer</display-name>
    <servlet-name>addbillServer</servlet-name>
    <servlet-class>Servlet.addbillServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addbillServer</servlet-name>
    <url-pattern>/addbillServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getbill_info</display-name>
    <servlet-name>getbill_info</servlet-name>
    <servlet-class>Servlet.getbill_info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getbill_info</servlet-name>
    <url-pattern>/getbill_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getbill_info2</display-name>
    <servlet-name>getbill_info2</servlet-name>
    <servlet-class>Servlet.getbill_info2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getbill_info2</servlet-name>
    <url-pattern>/getbill_info2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>visitorServer</display-name>
    <servlet-name>visitorServer</servlet-name>
    <servlet-class>Servlet.visitorServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visitorServer</servlet-name>
    <url-pattern>/visitorServer</url-pattern>
  </servlet-mapping>
</web-app>